*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navigation-bar{
    background-color: #17a2b8;
}
.sub-container{
    width: 90%;
    margin: auto;
}
.home-intro{
    margin-top: 7.28vw;
}
@media (max-width: 900px) {
    .home-intro{
        margin-top: 9.0vw;
    }
}
@media (max-width: 600px) {
    .home-intro{
        margin-top: 10.0vw;
    }
}

.nav-btn{
    font-weight: normal;
    font-size: 1.2rem;
}
.nav-btn:hover{
    background-color: rgb(2, 92, 209);
    color: white;
}
.first-blog{
    bottom: 0;
}
.card{
    width: 90%;
    margin: auto;
}
/* @media (max-width: 1000px) {
    .card{
        width: 90%;
        margin: auto;
    }
} */




.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #17a3b8cc;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    list-style: none;
    display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a{
    color: #fff;
    text-decoration: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover{
    background-color: #16545e;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: #17a3b8cc;
}
.sub-menu-3{
    display: none;
}
.sub-menu-2 ul li:hover .sub-menu-3{
    display: block;
    position: absolute;
    top: 40%;
    left: 100%;
    background: #17a3b8cc;
}