*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigation_bar{
    background-color: #fff;
    color: #000;
    z-index: 11111;
}
.navigation_bar.sticky{
    background-color: rgb(104, 147, 168);
}
.navbar.fixed-top{
    position: fixed;
}
.navbar-brand{
    display: none;
}
.navbar-brand.content{
    display: block;
}
.nav-btn{
    font-weight: normal;
    font-size: 1.2rem;
}
.nav-btn:hover{
    background-color: rgb(2, 92, 209);
    color: white;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #17a3b8cc;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    list-style: none;
    display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a{
    color: #fff;
    text-decoration: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover{
    background-color: #16545e;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: #17a3b8cc;
}
.sub-menu-3{
    display: none;
}
.sub-menu-2 ul li:hover .sub-menu-3{
    display: block;
    position: absolute;
    top: 40%;
    left: 100%;
    background: #17a3b8cc;
}
/* main section styling starts here */
.counters{
    background-image: url(../assets/img/counter-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.counters i,
.counters h4{
    font-size: 4rem;
}
.counters h4,
.counters p{
    font-size: 2.5rem;
    font-weight: 100;
}
.counter-inner{
    height: 50vh;
}
.director-msg{
    min-height: 80vh;
    max-height: 70vh;
}
.partners-img{
    width: 15rem;
}
.slider{
    overflow-x: hidden;
}
.slider-track{
    animation: scroll 40s linear infinite;
    width: calc(762px);
}
.slider-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-762px * 5));
    }
}
.donation{
    background-image: url(../assets/img/open_hand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.donation-inner{
    background-color: #000000b3;
}
/* main section styling ends here */